.comment-row-main {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0.4rem 1rem 1rem;
    align-items: center;
    border-top: solid 0.4px lightgray;
    border-bottom: solid 0.4px lightgray;
}

.comment-row-left {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    background-color: white;
    width: 80%;
    align-items: center;
}

.comment-row-left p {
    color:rgb(81, 81, 81);
    font-size: medium;
}