.user {
  /* background-color: cadetblue; */
  padding: 1em 0em 2em 0em;
  border-bottom: 1.5px solid rgb(50, 50, 50);
}

.Avatar {
  float: left;
}

h3{
  float: right;
  width: 70%;
  margin-top: 2em;
  /* background-color: beige; */
}

.main {
  display: flex;
  /* background-color:olive; */
  margin: 8em 8em;
}

.users-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em;
  flex-basis: 40%;
}

.right-section {
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  flex-basis: 60%;
  margin: 1em;
}

.right-top {
  display: flex;
  /* background-color:aquamarine; */
  height: 5em;
  justify-content: space-between;
}

.searchbar {
  /* background-color:cadetblue; */
  flex-basis: 21em;
  align-self: flex-end;
  order: 1;
}

.searchbar input[type=text] {
  float:right;
  padding: 6px;
  margin-top: 8px;
  font-size: 14px;
  width: 16em;
  border: 1px solid slategrey;
  border-radius: 5px;
}

.searchbar button {
  float: left;
  padding: 4px 10px;
  margin: 6px 0px 0px 0px;
  background: rgb(255, 255, 255);
  font-size: 14px;
  border: 1px solid slategrey;
  cursor: pointer;
  border-radius: 10px;
  color:slategrey;
}

.searchbar img {
  width: 18px;
}

.newpost {
  /* background-color:burlywood; */
  flex-basis: 10em;
  align-self: flex-start;
  order: 2;
}

.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: darksalmon;
  margin-top: 2em;
}

.recommendations{
  display: flex;
  flex-direction: column;
  background-color:rosybrown;
  margin-top: 2em;
  flex-basis: 70%;
}

.userList{
  margin-top: 2em;
  background-color: darkkhaki;

}

p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.newpost button {
  border: none;
  text-align:center;
  border-radius: 10px;
  font-size: medium;
}
.newPostSign {
  margin-right: 0.5em;
  /* height: 2.5em; */
  fill: rgb(255, 255, 255);
}
