.Navbar {
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    background: #FFDD2B;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.Navbar ul{
    list-style-type: none;
    margin: 0;
    padding-right: 40px;
    overflow: auto;
    
}

.Navbar li{
    float: right;
    max-height: 10px;
    padding: 26px 36px 30px 36px;
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    
    /* overflow:hidden */
}
/* 
li a {
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  } */

  .Navbar li img {
    float: left;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.Navbar li:hover{
    background-color: #f8c50f;
    transition-duration: 200ms;
}

.Navbar li:active{
    background-color: #ffdf6d;
}