.post-modal-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
}

.post-detail-left {
    display: flex;
    flex-direction: column;
    width: 94rem;
    height: 100rem;
}

.post-detail-image {
    width: 100%;
    height: 30%;
    object-fit: contain;
    border-top-left-radius: 10px;
    background-color:black;
}
.post-detail-description{
    display: flex;
    flex-direction: column;
    gap:0 !important
}
.post-detail-description-user{
    margin-left: 6.5rem;
    margin-bottom: 0 !important;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.post-detail-description-text{
    margin-left: 6.5rem;
    height: 2rem;
    width: 80%;
    overflow-y:scroll;
}
.post-detail-description-text p{
    font-family: Verdana;
    font-size: 12px;
}

.post-detail-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.post-detail-actions{
    border-top: 1px solid lightgrey;
    padding: 0.92rem 0.8rem 1rem 0;
    display: flex;
    flex-direction: column;
}

.post-detail-postStats{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.post-detail-stats{
    display: flex;
    flex-direction: row;
    height: 2em;
    margin-left: 1.1em;
    width:fit-content;
    padding-right: 1em;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5em
}


.MuiModal-root {
    z-index:3000 !important;
}

.post-detail-stats svg {
   height: 1.2em;
   width: 2.2em;
   color: rgb(50, 50, 50);
}
.post-detail-stats button {
    height: 1.2em;
    width: 2em;
 }

.post-detail-stats p{
    font-size: 15px;
    text-align: center;
} 

.post-detail-comments {
    height: 80%;
    overflow-y: scroll;
    overflow-x:hidden;
    overflow-wrap: break-word;
    padding-right: 1rem;
}

.post-detail-post-comment {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.post-detail-post-comment input{
    border-radius: 10px;
    border: 1px solid lightslategrey;
    padding: 0.5em;
    overflow-x: scroll;
}

.comments-textarea__control{
  margin-bottom: -10px;
}

.comments-textarea__highlighter{
  padding: 10px;
}

.comments-textarea__suggestions {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 14px;
  max-height: 200px;
  padding: 1em .5em;
  overflow: auto;
}
.comments-textarea__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.comments-textarea__suggestions__item--focused {
  background-color: #FFDD2B;
  border: 1px solid black;
}

.post-detail-post-comment button{
    border-radius: 8px;
    border: 1px solid lightslategrey;
    width: 4em;
    height: 2.5em;
    margin: 0 5px 0 0;
    background-color:white;
}

.post-detail-post-comment button:hover{
    background-color: rgb(237, 237, 237);
    transition-duration: 200ms;
}

.post-detail-post-comment button:active{
    background-color: rgb(170, 170, 170);
}

.post-detail-post-comment button img{
    width: 1.5em;
    filter: brightness(4);
}

.post-detail-userhead {
    margin: 1rem 0 0 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
}
