.profileMain {
    margin-top: 7em;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    padding: 0 10em;
}

.profileUser{
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;
    justify-content: start;
    margin: 0 4em;
}
.profileDes{
    /* background-color: aquamarine; */
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    flex-direction: column;
}

.profileDes p:nth-child(1){
    /* padding-bottom: 0; */
    line-height: 0;
    
}
.profileDes p:nth-child(2){
    line-height: 20px;
    border-top: 1px solid slategray;
    padding-top: 1em;
    width: 100%;
    /* border-bottom: 1px solid slategray; */
}

.profileStats{
    /* background-color: rgb(121, 251, 255); */
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;
    justify-content: space-between;
    margin: 0 4em;
}


.followerStats{
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    align-items: center;
}

.followerStats div{
    display: flex;
    justify-content: start;
    flex-basis: 12;
    padding-right: 5em;
    border-right: 1px solid lightgray;
}

.followerStats div:nth-child(3){
    border:0;
}

.followerStats img{
    width: 1.2em;
    margin-right: 1em;
    filter: brightness(0);
}




