.register-main {
    background-color:white;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    min-height: 100vh; 
    padding: 1rem 0.5rem;
    z-index: 1800;
}

.register-main section {
    width: 100%;
    max-width: 450px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* background-color: rgba(0,0,0,0.4); */
}

.register-main form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: end; */
    /* background-color: aqua; */
    flex-grow: 1;
    padding: 0rem 2rem 2rem 2rem;
}

.register-main a, a:visited {
    color: rgb(255, 156, 7);
}

.welcome-text {
    font-family: 'Verdana';
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
    padding: 0.25rem;
    margin-bottom: 2rem;
}

.signin-text {
    font-family: 'Verdana';
    font-weight: 300;
    font-size: 18px;
    padding: 1rem 0 0 0;
}

.register-main input[type="text"],
.register-main input[type="password"],
.register-main button,
.register-main textarea {
    display: block;
  font-family: 'Lato';
  font-style: normal;
  font-size: 22px;
  margin-left: 0.5rem;
  padding: 0.25rem;
  /* border-radius: 0.5rem; */
}

.register-main label {
  display: block;
}

.register-main button {
    margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(255, 211, 54);
  border: none;
  border-radius: 10px;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-family: Verdana;
    font-weight: normal;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}